ion-header{
   
    --ion-background-color: var(--ion-color-medium-tint);
      ion-toolbar{
        font-family: Garamond;
    
        ion-title{
          font-size: 30px;
        }
    
      }
  }
  
    ion-label{
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px;
    }
  
    ion-card{
    //   --ion-background-color: var(--ion-color-medium-tint);
        margin: auto;
        img{
          width: 100%;
        }
  
    }
  