<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="homepage"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title>A Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/logo.png" />
  </ion-card>


  <ion-item>
    <ion-label>
      Nom de l'application : Service Après Vente
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Auteur: NZAMBOUE / BIDZANA
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Copyrigth: 2021/2022
    </ion-label>
  </ion-item>

</ion-content>