<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--<ion-icon slot="icon-only" name="menu-outline"></ion-icon>-->
      <ion-menu-button menuId="homepage" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-buttons slot="end">
        <ion-button class="Cart-btn" clear>
          <ion-icon slot="icon-only" name="notifications">
            <ion-badge item-end class="Cart-badge">3</ion-badge>
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Requêtes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2> Listes des Requêtes </h2>

  <ion-list>

    <ion-item *ngFor="let r of requetes|async">
      <ion-card color = {{r.etat}}>
        <h3><b>{{r.request_title}}</b></h3>
        <p><b>Produit:</b> {{r.produit}}</p>
        <p><b>Description:</b> {{r.description}}</p>
          <ion-label id="Label">{{r.request_date}}</ion-label>
      <ion-buttons>
        <ion-button (click)="ChangeState(r)">
          <ion-icon slot="start" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
      </ion-card>
    </ion-item>
    
  </ion-list>


</ion-content>
