<ion-content>
  <!--Application tab-bar menu-->
  <ion-tabs>
    <ion-tab-bar color="primary">
      <ion-tab-button tab='liste-clients'>
        <ion-icon name="people"></ion-icon>
        <ion-label>Contacts</ion-label>
      </ion-tab-button>
      <ion-tab-button tab='requetes-admin'>
        <ion-icon name="git-pull-request"></ion-icon>
        <ion-label>Requetes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab='parametres'>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>A Propos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!--End tab-bar menu-->
  
</ion-content>