// .bg-img {
//     padding: 1px;
//     height: 100%;
//     width: 100%;
//     background-image: url('../../../assets/fond.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.bg-img p{
    color: dark;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: dashed;
    text-shadow: 10px;
    text-overflow: clip;
}
ion-grid {
	padding: 0px!important;
	border-top: solid 1px ligth;
}
.input-col {
	padding-left: 10px;
}
.send-col {
	padding: 0px!important;
}
.send-col ion-button {
	height: 100%!important;
	margin: 0px!important;
	border-radius: 0px !important;
}
.send-col button {
	border-radius: 0px !important;
}
.send-col ion-icon {
	font-size: 20px!important;
}