

<ion-content color="light">
  <br><br><br>
  <div id="container">
    <ion-img src="../assets/logo.png" id="logo"></ion-img>
  </div>
  <h1>Sign In</h1>
  <br>
  <ion-item >
    <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    <ion-input [(ngModel)]="email" type="email" placeholder="Adresse email" floating></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    <ion-input [(ngModel)]="password" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
  <br>
<br>
<ion-button color="primary" expand="block" shape="round" (click)="logIn(email, password)">Log In</ion-button> 
<br><br>
<div class="label">
  <ion-label [routerLink]="['/fogotedpwd']">Mot de passe ou login oublié!!!</ion-label> 
  <br> <br>
  <ion-label [routerLink]="['/signup']">S'inscrire</ion-label>
</div>

</ion-content>
