<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title>UserName</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">Déconnexion</ion-button>
      <ion-button [routerLink]="['/vue-client']"><ion-icon slot="icon-only" name="mail-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <h1>Liste de Requêtes</h1>
  <ion-list>
    
    <ion-item>
      <ion-label>Requete 1</ion-label>  
    </ion-item>

  </ion-list>

</ion-content>

