div{
    margin: 10px 10px;
}

.sav_new{
    background-color: rgb(35, 52, 54);
    color: aliceblue;
    text-decoration: dashed;
    margin: auto;
}

.container_title h2{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: dashed;
}
