<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ SAV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sav_new">SAV News</div>
  <div class="container_title">
    <h2>SAV FAQ</h2>
    Par SAV | 11 janvier 2022
  </div>
  <div class="about_sav">
    This FAQ provides answers to basic questions
    about SAV.<br>
    Check out our Advanced FAQ for more technical information.
  </div>
  <div class="sav_info">
    <h5>General</h5>
    <p>| What is SAV?</p>
    <p>| Who is it for?</p>
    <p>| How old is SAV?</p>
    <p>| Is it available on my device?</p>
    <p>| Where is SAV based?</p>
  </div>
</ion-content>
