<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Messages enregistrés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="big-container">
    <br>
    <h5>Aucun message enregistré</h5>
  </div>
</ion-content>
