<ion-header collapse="condense">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menuId="homepage" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title style="text-align: center;">Médias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="big-container">
    <br>
    <h5>Aucun media partagé</h5>
  </div>
</ion-content>
