#pp{
    width: 100%;
    height: 100%;
}

#item{
    border-radius: 10%;
}

#Container{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    border: solid;
    border-color: primary;
}
#Container > div{
    flex: 50%;
}

#first-menu{
    margin: 10px 10px;
    border: solid;
    border-color: primary;
}

#second-menu{
    margin: 10px 10px;
    border: solid;
    border-color: primary;
}

#third-menu{
    margin: 10px 10px;
    border: solid;
    border-color: primary;
}
