<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu menuId="homepage" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Menu
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-menu-toggle>
          <ion-list>
            <div id="Container">
              <div>
                  <ion-img id="pp" src="assets/fond.jpg"></ion-img>
              </div>
              <div>
                <ion-item>
                  <ion-label>
                    Infos du compte
                    <!-- <p> {{user.email}} </p> -->
                    <!-- <p> {{client.user_email}} </p>
                    <p> {{client.user_phone}} </p>  -->
                  </ion-label>     
                </ion-item>
              </div>
            </div>
          </ion-list>
        </ion-menu-toggle>
        <div id="menus-container">
          <div id="first-menu">
            <ion-menu-toggle>
              <ion-list>
                <ion-item [routerLink]="['important']" class="item">
                  <ion-label>Messages enregistrés</ion-label>
                </ion-item>
            </ion-list>
            </ion-menu-toggle>
          </div>
          <div id="second-menu">
            <ion-menu-toggle>
              <ion-item [routerLink]="['compte']" class="item">
                <ion-label>Compte</ion-label>
              </ion-item>
              <ion-item [routerLink]="['faq']" class="item">
                <ion-label>FAQ SAV</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <div id="third-menu">
            <ion-menu-toggle>
              <ion-item (click)="authService.SignOut()" class="item">
                <ion-icon name="exit"></ion-icon>
                <ion-label>Déconnexion</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
