<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title>UserName</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">Déconnexion</ion-button>
      <ion-button [routerLink]="['/vue-gerant']"><ion-icon slot="icon-only" name="mail-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <h1>Liste de Contacts</h1>
  <ion-list>
    
    <ion-item (click)="ShowSheet(p)" *ngFor="let p of personnes">
      <ion-label>{{p.nom}}</ion-label>
      <ion-avatar slot="start">
        <ion-img src="{{p.image}}"></ion-img>
      </ion-avatar>      
    </ion-item>

  </ion-list>

</ion-content>
