<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe oublié</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;">OUPS! :(</h2>
</ion-content>
