

<ion-content color="light">
  <br><br><br>
  <div id="container">
    <ion-img src="../assets/logo.png" id="logo"></ion-img>
  </div>

  <h1>Sign Up</h1>
  <br>
  <ion-item > 
    <ion-input [(ngModel)]="firename" type="text" placeholder="username" floating></ion-input>
  </ion-item>
  <br>
  <ion-item >
    <ion-input [(ngModel)]="firemail" type="mail" placeholder="email" floating></ion-input>
  </ion-item>
  <br>
  <ion-item >
    <ion-input [(ngModel)]="firephone" type="text" placeholder="phone" floating></ion-input>
  </ion-item>
  <br>
  <ion-item >
    <ion-input [(ngModel)]="firepicture" type="text" placeholder="picture" floating></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="firepwd" type="password" placeholder="password" floating></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="firepwdconfirm" type="password" placeholder="confirm password" floating></ion-input>
  </ion-item>

<br>
<ion-button type="submit" (click)="signUp(firemail, firepwd)" color="primary" expand="block" shape="round">Log In</ion-button>
<br><br>
<div class="label">
 <ion-label [routerLink]="['/login']">Connexion à un compte</ion-label> 
</div>

</ion-content>
