#logo{
    max-width: 50%;
    margin: auto; 
  }
  
  ion-item{
    max-width: 70%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
  }
  
  h1{
    text-align: center;
  }
  
  ion-button{
    max-width: 30%;
    margin: auto;
  }
  
  .label {
    color: var(--ion-color-primary);
    text-align: center;
  }
  
  ion-content{
    font-family: Garamond;
  }