<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>UserName</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

</ion-content>

<ion-footer>

  <ion-toolbar color="tertiary">
    
    <ion-input type="mail" placeholder="Entrer votre message" floating></ion-input>
    
  </ion-toolbar>

</ion-footer>
