
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Discussion</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">
    <p style="text-align: center;" slot="center">Les messages de cette discution sont chiffrés de bout en bout</p>
    <ion-item lines="none" *ngFor="let item of MesMessages" class="boite">
      <ion-badge *ngIf="item.message_sender !== this.phone" 
              slot="start" color="light"> {{item.message_recipient}} </ion-badge>
      <ion-badge *ngIf="item.message_sender === this.phone" 
              slot="end" color="light"> {{item.message_recipient}} </ion-badge>
    </ion-item>
    <!-- <img [src]="image">  -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" class="input-col">
          <ion-input [(ngModel)]="messageText" type="mail" placeholder="Entrer votre message" floating></ion-input>
        </ion-col>
        <ion-col size="2" class="send-col">
          <ion-button shape="full" (click)="addPhoto('library')">
            <ion-icon name="image"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" class="send-col">
          <ion-button shape="full" (click)="addPhoto('camera')">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" class="send-col">
          <ion-button shape="full" (click)="sendMessage(messageText)">
            <ion-icon name="paper-plane"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

