<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Liste des clients</ion-title>
    <ion-buttons slot="start">
      <!--<ion-icon slot="icon-only" name="menu-outline"></ion-icon>-->
      <ion-menu-button menuId="homepage" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-buttons slot="end">
        <ion-button class="Cart-btn" clear>
          <ion-icon slot="icon-only" name="notifications">
            <ion-badge item-end>3</ion-badge>
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Rechercher un clients"></ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-item *ngFor="let c of users | async">
    <ion-avatar slot="start">
      <img src="{{c.user_picture}}" />
    </ion-avatar>
    <ion-label> {{c.user_name}} </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="ShowSheet(c)">
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="sendMessage(c)">
        <ion-icon slot="start" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>
