<ion-content>
  <!--Application tab-bar menu-->
  <ion-tabs>
    <ion-tab-bar color="primary">
      <ion-tab-button tab='accueil'>
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Échanges</ion-label>
      </ion-tab-button>
      <ion-tab-button tab='media'>
        <ion-icon name="images"></ion-icon>
        <ion-label>Médias</ion-label>
      </ion-tab-button>
      <ion-tab-button tab='parametres'>
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>A Propos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!--End tab-bar menu-->
  
</ion-content>