#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: ligth;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  h2, h3{
    text-align: center;
  }
  p{
    margin: 5%;
  }

  #Label{
    margin: 5%;
    text-align: right;
  }

  .Cart-btn {
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
 }
 
 .Cart-badge {
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
 }