<ion-header collapse="condense">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--<ion-icon slot="icon-only" name="menu-outline"></ion-icon>-->
      <ion-menu-button menuId="homepage" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-buttons slot="end">
        <ion-button class="Cart-btn" clear>
          <ion-icon slot="icon-only" name="notifications">
            <ion-badge item-end>3</ion-badge>
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title style="text-align: center;">Requêtes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Mes Requêtes</h2>
  <ion-list>
    <ion-item (click)="ShowSheet(r)" *ngFor="let r of MesRequetes">
      <ion-card *ngIf="r.request_sender === user.uid" color = {{r.etat}}>
        <h3><b>{{r.request_title}}</b></h3>
        <p><b>Produit:</b> {{r.produit}}</p>
        <p><b>Description:</b> {{r.description}}</p>
          <ion-label id="Label">{{r.request_date}}</ion-label>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
<!-- fab placed to the (vertical) center and end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="NewRequest()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!--<ion-footer style="text-align: center;">
  <label style="text-align: center; size: 5px;">Copyright Marvin & Hilary 2022</label>
</ion-footer>-->
